*{
    margin: 0;
    padding: 0;
}
h1, h2{
    text-align: center;
    color: rgb(44, 132, 187);
}
.welcome{
    display: flexbox;
    float: right;
    color: rgb(2, 17, 17);

}
.text{
    text-align: center;
    font-size: 20px;
}
.nav-bar{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    height: 80px;
    width: 100%;
    position: relative;
    bottom: 500px;

}
.nav-bar ul{
    float: right;
    margin-right: 20px;
    position: relative;
    top: 100px;

}
.nav-bar ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    text-decoration: none;

}
.nav-bar ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bolder;
}
a.active, a:hover{
    background: seagreen;
    transition: .5s;
}
.vision{
    background-color: rgb(217, 238, 235);
    padding: 20px;
    font-size: 16px;
}
.mission{
    border: 2px solid rgb(201, 226, 226);
    padding: 20px;
    font-size: 16px;
}
.value{
    background-color: rgb(229, 241, 241);
    padding: 20px;
    font-size: 16px;
}
.footer{
    text-align: center;
    background: rgb(165, 231, 231);
    padding: 20px;
}
@media screen and (max-width: 500px) {
    .nav-bar a {
      float: left;
      display: block;
    }
    .nav-bar ul li a{
        font-size: 12px;
        padding: 0;
      }
  }
  @media only screen and (max-width:800px) {
    /* For tablets: */
    .welcome, img, h1, h2, .text, .vision, .mission, .value, .footer{
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .nav-bar, .welcome, .text, h1, h2, .footer, img, .vision, .mission, .value {
      width: 100%;
    }
  }