*{
    margin: 0;
    padding: 0;
}
h1, h2{
    text-align: center;
    color: rgb(44, 132, 187);
}
.caption{
  color: rgb(9, 37, 35);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bolder;

}
.welcome{
    display: flexbox;
    float: center;
    color: rgb(2, 17, 17);

}
* {box-sizing:border-box}

.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
  margin-right: 700px;
  
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.caption{
  position: relative;
  bottom: 50px;
}

.texts{
    text-align: center;
    font-size: 20px;
}
.nav-bar{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    height: 80px;
    width: 100%;

}
.nav-bar ul{
    float: right;
    margin-right: 20px;
    position: relative;
    bottom: 500px;


}
.nav-bar ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    text-decoration: none;

}
.nav-bar ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bolder;
}
a.active, a:hover{
    background: seagreen;
    transition: .5s;
}   
.text{
    margin-left: 300px;
}
.text1{
    text-align: center;
    font-size: 20px;

}
.footer{
    text-align: center;
    background: rgb(165, 231, 231);
    padding: 20px;
}

@media screen and (max-width: 500px) {
  .nav-bar a {
    float: left;
    display: block;
  }
  .nav-bar ul li a{
    font-size: 12px;
    padding: 0;
  }
}
@media only screen and (max-width:800px) {
  /* For tablets: */
  .nav-bar, .welcome, h1, h2, .text, .text1 .caption, .slideshow-container, img, .footer{
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .nav-bar, .welcome, .text1 .text, h1, h2,.caption, .footer, .slideshow-container img {
    width: 100%;
  }
}